:root {
    /* Color Palette */
    --color-palette-1: coral;

    /* Fonts */
    --main-font: 'Muli', sans-serif;

    /* Font Colors */
    --font-red: #ee3333;
    --font-blue: #1c4966;

    /* Cover Image */
    --cover-image: url('../img/assets/image/cover.jpg');
  }

body {
    font-family: var(--main-font);
}

.navbar-brand>img {
    object-fit: cover;
    object-position: 0 40%;
    width: 200px;
    height: 30px;
}

.cover-image {
    background-image: var(--cover-image);
    background-size: 100vw;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 77vh;
}

/* Buttons */
.cb {
	background: var(--font-red);
	background-color: var(--font-red);
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:10px 40px;
	text-decoration:none !important;
}

.cb:hover {
    color:#ffffff !important;
}

.cb.cb-outline {
    background: none;
    background-color: none;
    border: medium solid var(--font-red);
    color: var(--font-red);
    font-weight: bold;
    transition: ease-in-out 300ms;
}

.cb.cb-outline:hover {
    background: var(--font-red) !important;
    background-color: var(--font-red) !important;
    border: none !important;
    color: white !important;
}

.cb.cb-block {
    width: 100%;
    text-align: center;
}

.cb.cb-red {
    background: var(--font-red);
    background-color: var(--font-red);
}

.cb.cb-blue {
    background: var(--font-blue);
	background-color: var(--font-blue);
}

/* Content Space */
.content-section {
    min-height: 1000px;
}

/* Footer Section */
#footer {
    height: 400px;
    background: var(--color-palette-1);
}

#footer .logo {
    width: 50px;
}
/* Footer Section ======================================================================================== */