:root {
    /* Colors */
    /* -- Color Palette */
    --color-palette-1: coral;

    /* -- Font Colors */
    --font-black: rgb(70, 70, 70);
    --font-white: #ffffff;
    --font-red: #ee3333;
    --font-blue: #1c4966;

    /* -- Other Colors */
    --color-black: rgb(70, 70, 70);

    /* Fonts */
    --main-font: 'Muli', sans-serif;

    /* Cover Image */
    --cover-image: url('/img/assets/image/cover.jpg');
  }

/* Bootstrap extended */
.nav-link.admin-page-nav-link {
    color: var(--color-black);
    transition: ease-in-out 100ms;
}

.nav-link.admin-page-nav-link:hover {
    border-bottom: medium solid var(--color-black);
}

.nav-link.admin-page-nav-link.active {
    font-weight: bolder;
    border-bottom: medium solid var(--color-black);
}

body {
    font-family: var(--main-font);
    color: var(--font-black);
}

a {
    text-decoration: none !important;
}

.navbar-brand>img {
    object-fit: cover;
    object-position: 0 40%;
    width: 200px;
    height: 30px;
}

.cover-image {
    background-image: var(--cover-image);
    background-size: 100vw;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 77vh;
}

.page-title {
    border-bottom: medium solid var(--color-black);
}

/* Buttons */
.cb {
	background: var(--font-red);
	background-color: var(--font-red);
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color: var(--font-white);
	padding:10px 40px;
	text-decoration:none !important;
}

.cb:hover {
    color: var(--font-white) !important;
}

.cb.cb-outline {
    background: none;
    background-color: none;
    border: medium solid var(--font-red);
    color: var(--font-red);
    font-weight: bold;
    transition: ease-in-out 300ms;
}

.cb.cb-outline:hover {
    background: var(--font-red) !important;
    background-color: var(--font-red) !important;
    border: medium solid var(--font-red) !important;
    color: var(--font-white) !important;
}

.cb.cb-block {
    width: 100%;
    text-align: center;
}

.cb.cb-red {
    background: var(--font-red);
    background-color: var(--font-red);
}

.cb.cb-blue {
    background: var(--font-blue);
	background-color: var(--font-blue);
}

/* Content Space */
.content-section {
    min-height: 1000px;
}

/* Footer Section */
#footer {
    height: 400px;
    background: var(--color-palette-1);
}

#footer .logo {
    width: 50px;
}
/* Footer Section ======================================================================================== */